@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

html {
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./background_img.png);
}

footer {
    bottom: 20px;
    position: absolute;
    width: 100%;
}

.header_container_one {
    background-color: #40739500;
    color: white;
    padding: 10px;
    margin: 0px;
    display: flex;
    align-items: center;
    width: auto;
    height: 20px;
    border-radius: 50px;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 2px rgb(0 0 0 / 78%);
    border: 1px solid #ffffff36;
}

h1 {
    font-size: 1em;
    font-weight: bold;
    text-shadow: 0px 0px 4px #000000;
}

.apple_logo {
    width: auto;
    height: 25px;
}

.menu {
    margin: 100px;
    font-size: 100px;
}

.menu label {
    margin-right: 0.5rem;
}

main iframe {
    width: 100%;

    border: none;
}

iframe {
    display: none;
}
.window-note-header{
    display: none;
}
#app-note-status:checked~#app-note,#app-note-status:checked~.window-note-header,
#app-homework-status:checked~#app-homework,
#app-weather-status:checked~#app-weather {
    display: block;

}


.close_button i {
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}

.close_button:active {
    background-color: rgba(255, 255, 255, 0);
}

.close_button:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.icons {
    display: flex;
    justify-content: center;
    height: auto;
    gap: 2em;
    background-color: #00000050;
    margin: 0 40%;
    border-radius: 40px;
    box-shadow: 0px 0px 20px 2px rgb(0 0 0 / 78%);
}

.icons label img {
    aspect-ratio: 1 / 1;
    /* object-fit: fill; */
    width: 60px;
    padding: 5%;
}

.icons label img:hover {
    transform: scale(0.9);
    transition-duration: 0.5s;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px rgb(0 0 0 / 78%);
}